header{
    background-color: #64a5e8;
    height: 200px;
    text-align: left;
    
    
}
.pattern{
    background-image: url(../img/pattern.png);
    height: 200px;
    
}
.logo{
    width: 20%;
}
.sottotitolo{
    color: #878787;
}
#booleaner{
    color: #4bb9ea;
}
.info{
    font-size: 15px;
}
.evidenziato{
    background-color: yellow;
}
.lista{
    text-align: left;
}