header{
    background-color: #64a5e8;
    height: 200px;
    text-align: left;
    
    
}
.pattern{
    background-image: url(../img/pattern.png);
    height: 200px;
    
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}
.logo{
    width: 20%;
}
.sottotitolo{
    color: #878787;
}
#booleaner{
    color: #4bb9ea;
}
.info{
    font-size: 15px;
}
.evidenziato{
    background-color: yellow;
}
.lista{
    text-align: left;
}
.intestazione{
    background-color: #20a9e5;
    color: white;
    
}

.riga-blu{
    background-color: #b1e5f2;
}
.text-footer{
    color: #979797;
    font-size: 20px;
    font-weight: bold;
}
.monitor{
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
}
.titolo-immagine{
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}
.graph{
    background-image: url(../img/graph.jpg);
    width: 311px;
    height: 207px;
}
